@font-face {
  font-family: 'Logbook Prime';
  font-weight: 400;
  src: url('../fonts/LogbookPrime-Regular.ttf') format('truetype');
}

* {
	margin: 0px;
	border: 0px;
	padding: 0px;
}

body {
	width: 384px;
  height: 436px;
	display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
	font-family: 'Logbook Prime';
	color: #FFFFFF;
  /* background: #0033cc; */
}

img {
  max-width: 100%;
  max-height: 100%;
}

#timer {
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: baseline;
  align-content: baseline;
  justify-content: flex-end;
  padding: 0 14px 14px;
  cursor: pointer;
  text-align: right;
  letter-spacing: 4px;
  font-size: 60px;
  width: 100%;
  height: 54px;
}

#timer > span.small {
  font-size: 40px;
}

#timer > .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
}

.tracker {
  flex: 1;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  padding-bottom: 14px;
}

.row {
	display: flex;
	text-align: center;
  box-sizing: border-box;
	padding: 14px 14px 0 0;
}

.col {
	display: flex;
	flex-direction: column;
}

.col > .row {
	padding-right: 0;
}

.col > .row:first-of-type {
	padding-top: 0;
}

.item,
.items {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	text-align: center;
  user-select: none;
}

.item {
	padding-left: 14px;
}

.items {
	width: 60px;
  height: 60px;
	cursor: pointer;
}

.artifacts {
	width: 134px;
  height: 134px;
	cursor: pointer;
}

.artifacts .artifact {
	fill: #39d3f9;
}

.artifacts .artifact.selected {
	fill: #f9ac39;
}

.hidden {
	display: none;
}

.grayscale {
  filter: brightness(50%) grayscale(100%);
}
